<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 data-ng-bind="vm.filmName"></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non dapibus ante. In egestas malesuada tortor,
                et pulvinar ante suscipit sed. Pellentesque sit amet purus ac velit bibendum viverra ac ac velit. Nam egestas
                pulvinar ex non lobortis. Curabitur et est quis odio efficitur viverra et sit amet quam. Integer blandit blandit
                tincidunt. Ut ut diam id ex feugiat sagittis at ac nulla. Nunc vel ante cursus, imperdiet arcu a, facilisis est.
                Etiam commodo libero et tincidunt finibus. Phasellus a magna a turpis suscipit bibendum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <table>
                <tr ng-repeat="row in vm.cinemaHall">
                    <td ng-repeat="placeNumber in row track by $index" class="table-data-films" data-ng-bind="placeNumber" ng-click="vm.setSelected($parent.$index, $index)">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2" ng-show="vm.showingPlaceData">
            <p>Row: {{vm.placeData.row}}</p>
            <p>Place: {{vm.placeData.place}}</p>
            <div ng-controller="ModalDemoController as vm" class="modal-demo">
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">Do you wanna buy ticket?</h3>
                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
                        <button class="btn btn-primary" type="button" ng-click="vm.cancel()">Cancel</button>
                    </div>
                </script>
                <button ng-click="vm.open('sm')">Buy ticket</button>
                <div class="modal-parent">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-controller="ModalThanksDemoController as vm" class="modal-demo-thanks">
            <script type="text/ng-template">
                <div class="modal-header">
                    <h3 class="modal-title">Thanks</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
                </div>
            </script>
            <div class="modal-parent">
            </div>
        </div>
    </div>
</div>
